* {
    box-sizing: border-box;
}

body {
    background: rgba(255, 255, 255, 0);
}

ul {
    list-style-type: none;
}

#projects {
}


.web-projects, .mobile-projects {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}

.project {
    margin: 16px;
    text-align: center;
    position: relative;
    flex: auto;
}

.overlay-wrap {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.project-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(99, 99, 99, 1);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .3s ease;
    filter: drop-shadow(2px 2px 4px);
    border-radius: 4px;
}

.overlay-wrap:hover .project-overlay {
    bottom: 0;
    height: 100%;
}

.project-description {
    font-size: .9rem;
    color: #e1e1e1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    width: 85%;
    line-height: 1.3;
}

.web-projects img {
    filter: drop-shadow(2px 2px 4px);
    border-radius: 4px;
    height: auto;
    width: 320px;
    min-height: 200px;
    object-fit: contain;
}

.mobile-projects img {
    width: auto;
    max-width: 320px;
    height: 50vh;
    min-height: 300px;
}

hr {
    height: 1px;
    background: white;
    border: none;
}

.project-title {
    text-align: center;
}

.code-tags {
    font-size: .8rem;
}

@media screen and (min-width: 576px) {
    .project {
        margin: 16px;
    }
    .web-projects img {
        width: 100%;
        max-width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .web-projects img {
        width: 100%;
        max-width: 500px;
    }
    .mobile-projects img{
        height: 65vh;
    }
}

@media screen and (min-width: 992px) {
    .web-projects img {
        width: 100%;
        max-width: 400px;
    }
    .mobile-projects img{
        height: 50vh;
    }
}

@media screen and (min-width: 1200px) {
    .web-projects img {
        width: 100%;
        max-width: 320px;
    }
}

/* overlay animate in */
.mfp-animation {
    background: rgba(0, 0, 0, .5);
    -webkit-animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.mfp-iframe-holder .mfp-content {
    max-width: 1140px;
    min-height: 70vh;
}

.mfp-iframe-holder {
    padding-left: 32px;
    padding-right: 32px;
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}










