.alert-list {
  padding-left: 0;
  margin: 24px;
}

.alert-box-item {
  font-size: .8em;
  background: $main-color;
  color: $font-color-light;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 0;
  margin-bottom: 16px;
  &:before {
    content: 'Alert';
    font-weight: 700;
    padding-right: 8px;
  }
  .close {
    font-weight: bold;
    font-size: 1.5em;
    float: right;
    position: relative;
    top: -5px;
    cursor: pointer;
  }
}