// Fonts
$font-stack: 'Open Sans', sans-serif;

// Base Colors
$main-color: #7477bf;
$main-dark: #4d4c72;
$color-accent: #81c98f;
$font-color: #666666;
$font-color-light: #fafafd;
$line-color: #d1d1d1;
$white : #fff;

// Layout
$break-xs: 320px;
$break-s: 480px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1200px;
